---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Epicenter Logo">
	<main class="flex items-center justify-center min-h-screen">
		<h1
			class="text-4xl sm:text-5xl md:text-6xl font-bold mb-6 tracking-tight animate-fade-in"
		>
			epicenter
		</h1>
	</main>
</BaseLayout>
